.box1 {
	box-shadow: 0px 10px 14px -7px #276873;
	background-color:#8e44ad;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:8px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	margin-top: 20px;
	height: 100px;
}
.box1 p{
	text-align: center;
	margin-top: 22px;
}
.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
